################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Library/ShaderCache
/Temp
/obj
/msc/60d4a5ee785e368e926ccf27f83036bc
/QX.Editor.csproj
/QX.csproj
/UpgradeLog.htm
/Assets/UnityVS
/wav
/Assets/Scripts
/Library/metadata
/QX.userprefs
/Assets/UnityVS.meta
/Assets/Textures.meta
/Assets/Model.meta
