################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Library/ShaderCache
/Temp
/obj
/msc/60d4a5ee785e368e926ccf27f83036bc
/QX.Editor.csproj
/QX.csproj
/UpgradeLog.htm
/Assets/UnityVS
/wav
/Library/metadata
/QX.userprefs
/Assets/UnityVS.meta
/Assets/Textures.meta
/Assets/Model.meta
/UpgradeLog5.htm
/UpgradeLog4.htm
/UpgradeLog3.htm
/UpgradeLog2.htm
Library/shadercompiler-UnityShaderCompiler.exe0.log
*.data
